body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    
}

form {
    border-radius: 0.5rem;
    background-color: orange ;
    padding: 2rem;
    
}
button, option, select {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;

}
